@font-face {
  font-family: Calibri-Regular;
  src: url(/fonts/calibri.ttf); }
@font-face {
  font-family: RobotoSlab-Bold;
  src: url(/fonts/RobotoSlab-Bold.ttf); }
@font-face {
  font-family: OpenSans-Regular;
  src: url(/fonts/OpenSans-Regular.ttf); }
@font-face {
  font-family: Georgia-Italic;
  src: url(/fonts/georgiai.ttf); }
@font-face {
  font-family: Calibri-Italic;
  src: url(/fonts/calibrii.ttf); }
@font-face {
  font-family: Georgia-Bold-Italic;
  src: url(/fonts/georgiaz.ttf); }
@font-face {
  font-family: Helvetica-Neul;
  src: url(/fonts/helvetica-neue1.ttf); }
header #other_page_links {
  display: inline-block;
  float: right;
  font-family: Calibri-Regular;
  list-style-type: none; }
  header #other_page_links li {
    display: inline-block; }
    header #other_page_links li ul {
      padding: 0px;
      margin: 0px; }
  header #other_page_links .social_links li {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("/images/socialIcon_top.png"); }
    header #other_page_links .social_links li:nth-child(2) {
      background-position-x: 35%; }
    header #other_page_links .social_links li:nth-child(3) {
      background-position-x: 67%; }
    header #other_page_links .social_links li:nth-child(4) {
      background-position-x: 100%; }
    header #other_page_links .social_links li:hover {
      background-position-y: 100%; }
  header #other_page_links .page_links {
    position: relative;
    top: -10px; }
    header #other_page_links .page_links li {
      font-weight: bold;
      padding: 0px 5px; }
      header #other_page_links .page_links li:not(:first-child) {
        border-left: 1px solid #BBB; }
  header #other_page_links a {
    color: #686868;
    font-size: 12px;
    text-decoration: none; }
header .top_tabs {
  list-style-type: none;
  margin: 0px;
  width: 100%;
  height: 50px;
  padding: 0px;
  background: linear-gradient(#777, #111); }
  header .top_tabs li {
    font-family: Calibri-Regular;
    font-size: 16px;
    height: 50px;
    line-height: 3.5;
    padding: 0px 1%;
    border-right: 1px solid #999;
    color: #FFF;
    float: left;
    cursor: pointer; }
    header .top_tabs li:hover {
      background-color: #b01116; }

.slider {
  display: block;
  width: 100%;
  height: 450px; }
  .slider .text_part {
    display: inline-block;
    width: 40%;
    float: left;
    height: 100%;
    background: radial-gradient(farthest-side at 60% 55%, #0c91bb, #0d6eb4); }
    .slider .text_part h2 {
      font-family: RobotoSlab-Bold;
      font-size: 34px;
      color: #fefefe;
      padding: 2% 4%;
      text-shadow: 0px 2px #333; }
    .slider .text_part p, .slider .text_part a {
      font-family: OpenSans-Regular;
      font-size: 16px;
      color: #fefefe;
      padding: 1% 4%; }
    .slider .text_part .arrows {
      margin-top: 10%; }
      .slider .text_part .arrows li {
        width: 30px;
        display: inline-block;
        height: 30px;
        cursor: pointer;
        background-image: url("/images/banner_navigation.png"); }
        .slider .text_part .arrows li:nth-child(2) {
          background-position: 100%; }
        .slider .text_part .arrows li:hover {
          opacity: 0.7; }
  .slider .img_part {
    display: inline-block;
    height: 450px;
    width: 60%;
    background-image: url("/images/DSC_0266.jpeg");
    background-position: center;
    background-size: 150%;
    background-repeat: no-repeat; }

main .news_events_features .news {
  padding-left: 1%;
  display: inline-block;
  width: 32%; }
  main .news_events_features .news h3 {
    font-family: Calibri-Regular;
    font-size: 27px;
    color: #191b1b; }
  main .news_events_features .news .detailed_news .date {
    font-family: Georgia-Italic;
    font-size: 14px;
    color: #888; }
  main .news_events_features .news .detailed_news .details {
    font-family: Calibri-Italic;
    font-size: 15px;
    list-style-type: none;
    padding: 5px;
    margin: 0px;
    color: #555; }
    main .news_events_features .news .detailed_news .details li {
      padding: 15px 0px; }
      main .news_events_features .news .detailed_news .details li:not(:first-child) {
        border-top: 1px solid #DDD; }
  main .news_events_features .news .view_more {
    text-align: right;
    font-family: Calibri-Italic;
    font-size: 14px; }
    main .news_events_features .news .view_more a {
      padding-left: 10px;
      float: right;
      margin-right: 5%;
      color: #ff6c00; }
  main .news_events_features .news .present_image {
    width: 98%; }
main #testimonials {
  background-color: #2971EC; }
  main #testimonials .alert_items li {
    background-color: #23acff; }
main .alert_videos section {
  width: 30%;
  padding: 1%;
  background-color: #23acff;
  border-radius: 5px;
  display: inline-block;
  margin-right: 1%;
  box-shadow: 1px 0px 10px 1px #333; }
  main .alert_videos section .head {
    font-family: Calibri-Regular;
    font-size: 27px;
    color: #fff;
    text-shadow: 1px 1px #666; }
  main .alert_videos section .alert_items {
    list-style-type: none;
    padding: 5px; }
    main .alert_videos section .alert_items li {
      background-color: #156ea1;
      border-radius: 5px;
      margin-bottom: 5px;
      box-shadow: inset 2px 2px 10px 1px #333; }
    main .alert_videos section .alert_items .img_part_alert {
      display: inline-block;
      width: 30%; }
      main .alert_videos section .alert_items .img_part_alert img {
        width: 100%; }
    main .alert_videos section .alert_items .text_part_alert {
      width: 65%;
      display: inline-block;
      vertical-align: top; }
      main .alert_videos section .alert_items .text_part_alert .date {
        margin-top: 10px;
        font-family: Georgia-Bold-Italic;
        font-size: 14px;
        color: #fcfee9; }
      main .alert_videos section .alert_items .text_part_alert .descr {
        font-family: Helvetica-Neul;
        font-size: 12px;
        color: #fff; }

/*# sourceMappingURL=styles.css.map */
